/* styles.css */

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  padding: 20px; /* Ensure some padding for smaller screens */
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 90%; /* Constrain width for smaller screens */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  color: #333;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5em; /* Adjust font size for better readability on small screens */
}

#countdown {
  font-size: 1.2em;
  color: #555;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center;
}

#countdown span {
  font-weight: bold;
  display: inline-block;
  min-width: 50px;
  transition: all 0.2s ease-in-out;
  margin: 5px; /* Add margin for better spacing */
}

#countdown span:hover {
  color: #74ebd5;
  transform: scale(1.1);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }
  #countdown {
    font-size: 1em;
  }
  #countdown span {
    min-width: 40px;
  }
}
